table tr td{
    border-left:1px solid #61dafb;
    border-top:1px solid #61dafb;
    color: #61dafb;
}
table tr th{
    border-left:1px solid #61dafb;
    border-top:1px solid #61dafb;
    color: burlywood;
}
table {
    border-right:1px solid #61dafb;
    border-bottom:1px solid #61dafb;
}
