table tr td{
    border-left:1px solid #F00;
    border-top:1px solid #F00;
}
table tr th{
    border-left:1px solid #F00;
    border-top:1px solid #F00;
}
table {
    border-right:1px solid #F00;
    border-bottom:1px solid #F00;
}